body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

button.excluir {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
